.menu{
    display: flex;
    justify-content: space-between;
    background-color:#0000;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color:#fa8072;;
}
body{
    background-color:#fa8072;
    
}
.grid{
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid ;
    border-radius: 50px;
}
.origami {
    
    border-radius: 20px;
    background-color: #fa8072;;
    
    width:310px;
    font-family: fantasy;
    
}